// 内容主体布局 默认设置
.main-container {
  margin-left: @sideBarWidth  !important;
  transition: all .28s;
  position: relative;
}

// 隐藏侧边栏的时候
.hidden-sidebar {
  .main-container {
    margin-left: @sideBarHiddenWidth  !important;
  }
}

// 固定头部的时候
.header-container {
  transition: width .28s;
}

.main-container.has-tags-view {
  .app-main__layout {
    margin: 0 15px 15px;
  }
}

.app-main {
  overflow: hidden;

  .app-main__layout {
    margin:5px 15px 15px;
    .clearFloat();
  }
}