.header-container {
  background: #fff;
}

.header-container.fixed-header {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.fixed-header {
  position: fixed;
  width: calc(100% - (@sideBarWidth));
  top: 0;
  right: 0;
  z-index: 998;

}

.hidden-sidebar .fixed-header {
  width: calc(100% - @sideBarHiddenWidth);
}

.fixed-header+.app-main {
  margin-top: @headerHeight;
}

// 存在tags-view 并且固定头部
.has-tags-view .fixed-header+.app-main {
  margin-top: (@headerHeight + @tagsViewHeight);
}

// header

.navbar {
  overflow: hidden;
  position: relative;
  height: @headerHeight;
  line-height: @headerHeight;

  .hamburger,
  .app-breadcrumb {
    float: left;
  }

  .el-dropdown {
    height: 100%;
  }

  .nav-menu--right {
    float: right;
    height: 100%;
    margin-right: 6px;
  }
}

// right item 
.header-icon-item {
  display: inline-block;
  width: @headerHeight;
  height: @headerHeight;
  font-size: @headerFontSize;
  padding: 0 (@headerHeight - @headerFontSize) / 2;
  position: relative;
  vertical-align: text-bottom;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }

  // 下拉提示
  // i.tips {
  //   position: absolute;
  //   font-size: 12px;
  //   right: 3px;
  //   bottom: 5px;
  // }

  &.user {
    user-select: none;
    font-size: 14px;
    width: auto;

    &.un-login {
      color: #bbb;
    }

    &.login {

      &>img {
        margin-top: (@headerHeight - @headerFontSize*2)/2;
        width: @headerFontSize*2;
        height: @headerFontSize*2;
        border-radius: 5px;
        display: inline-block;
      }
    }
  }
}

//redirect

.header-icon-item {
  .el-icon-refresh.rotate {
    animation: rotate 1s ease-in-out infinite;
  }
}

//breadcrumb
.app-breadcrumb.el-breadcrumb {
  display: inline-block;
  font-size: @headerFontSize*0.8;
  line-height: @headerHeight;
  margin-left: 8px;

  .no-redirect {
    color: #97a8be;
    cursor: text;
  }
}

//hamburger
.hamburger {
  width: @headerHeight;
  height: @headerHeight;
  font-size: @headerFontSize;
  padding: 0 (@headerHeight - @headerFontSize)/2;
  line-height: @headerHeight;
  cursor: pointer;
  transition: background 0.28s;

  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }

  i {
    transition: transform 0.28s;

    &.collapse {
      transform: rotate(180deg);
    }
  }
}

// setting-drawer 

.el-drawer__container.el-drawer__open {
  background: rgba(0, 0, 0, 0.3);
}

.setting--drawer {


  .el-drawer__header {
    padding: 10px;
    border-bottom: 1px solid #ededed;
    text-align: center;
    height: @headerHeight;
    margin-bottom: 0;

    &>span {
      font-size: 16px;
    }
  }

  .el-drawer__body {
    padding: 15px;
  }

  .setting-item {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.65);
    vertical-align: middle;
    padding: 10px 0;

    &>.switch {
      float: right;
    }
  }
}