  // 侧边栏
  .sidebar-container{
    transition: width .28s;
    background: @menuBg;
    width: @sideBarWidth !important;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    .el-scrollbar{
      height: 100% !important;
      .el-scrollbar__wrap{
        overflow-x: hidden !important;
      }
    }
    .el-menu{
      border: none;
    }
  }
  // 清除文字
  .hidden-sidebar .el-menu--collapse .el-submenu>.el-submenu__title>span{
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }
  // 清除向右小图标
  .hidden-sidebar .el-menu--collapse .el-submenu>.el-submenu__title>.el-submenu__icon-arrow{
    display: none;
  }
  // 在折叠情况下，如果子菜单被选择那么父菜单也会被标蓝
   .hidden-sidebar .el-menu--collapse .el-submenu.is-active>.el-submenu__title>i{
   color: @menuActiveText !important;
  }
  .hidden-sidebar{
     .sidebar-container{
       width: 64px !important;
     }
  }