  // 侧边栏
  .sidebar-container {
    transition: width .28s;
    background: @menuBg;
    width: @sideBarWidth  !important;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;

    .el-scrollbar {
      height: 100% !important;

      .el-scrollbar__wrap {
        overflow-x: hidden !important;

      }
    }

    .el-menu {
      border: none;
    }
  }

  // 清除文字
  .hidden-sidebar .el-menu--collapse .el-submenu>.el-submenu__title>span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }

  // 清除向右小图标
  .hidden-sidebar .el-menu--collapse .el-submenu>.el-submenu__title>.el-submenu__icon-arrow {
    display: none;
  }

  // 在折叠情况下，如果子菜单被选择那么父菜单也会被标选中
  .hidden-sidebar .el-menu--collapse .el-submenu.is-active>.el-submenu__title>i {
    color: @menuActiveText  !important;
  }

  // 在折叠情况下，多层嵌套的菜单，应该也层层的被选中
  .el-menu.el-menu--popup .el-submenu.is-active span,
  .el-menu.el-menu--popup .el-submenu.is-active i:first-child {
    color: @menuActiveText  !important;
  }

  .hidden-sidebar {
    .sidebar-container {
      width: @sideBarHiddenWidth  !important;
    }
  }

  //logo 组件
  .logo-container {
    height: @headerHeight;
    width: @sideBarWidth ;
    background: @subMenuBg;
    transition: width .28s;
    line-height: @headerHeight;
    overflow: hidden;

    >a {
      width: 100%;
      display: inline-block;
      text-align: center;

      >img {
        display: inline-block;
        width: @headerFontSize * 1.8;
        height: @headerFontSize * 1.8;
        line-height: @headerHeight;
        vertical-align: middle;
      }

      >h1 {
        display: inline-block;
        color: white;
        font-weight: bold;
        vertical-align: middle;
        font-size: @headerFontSize / 1.4;
      }
    }
  }

  .hidden-sidebar {
    .logo-container {
      width: @sideBarHiddenWidth  !important;
    }

    .el-scrollbar__wrap {
      //侧边栏logo在收缩的时候，会比logo窄大约1px,主要是因为收缩情况下虚拟滚动条，没有定宽，无法撑开所致，目前多加上1px解决
      margin-right: -19px !important;
    }
  }

  // 显示 logo 的时候修改下部的高度
  .sidebar-container.has-logo {
    >.el-scrollbar {
      height: calc(100% - @headerHeight) !important;
    }
  }